@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --primary-color: #1a3636;
  --secondary-color: #40534c;
  --third-color: #d6bd98;
}
body {
  width: 100%;
  /* height: 100vh; */
  background-color: var(--primary-color);
  font-family: "Poppins", "Segoe UI", Arial, Helvetica, sans-serif;
}
.container {
  max-width: 500px;
  height: 500px;
  background-color: var(--third-color);
  padding: 16px;
  margin: 200px auto;
  text-align: center;
  border-radius: 12px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}
.container h1 {
  color: #fff;
  letter-spacing: 0.15rem;
  word-spacing: 0.2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.container hr {
  margin: 10px auto;
  width: 50%;
}
.profile-picture {
  margin: 130px 0 0 0;
  height: 120px;
  /* background-color: #eaeaea; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.container .profile-picture li {
  display: flex;
  /* flex-direction: row; */
}
.profile-picture ul {
  padding: 10px 10px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.9);
}
.profile-picture img {
  border-radius: 50%; /* Optional: makes the image round */
  margin-right: 10px; /* Space between image and text */
  display: block; /* Prevents extra space below the image */
}
.text {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.profile-picture form {
  /* background-color: rebeccapurple; */
  /* margin: 20px auto; */
  margin-top: 20px;
  margin-left: 65px;
}
.btn {
  width: 120px;
  height: 40px;
  margin-top: 25px;
  margin-right: 80px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: lightskyblue;
  color: #fff;
}
